@mixin button-styles($width, $height) {
    width: $width;
    height: $height;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 1);
    font-size: 14px;
}

@mixin info-container-style($left) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 25.6px;
    position: absolute;
    width: 472px;
    height: 367px;
    top: 382px;
    left: $left;
}

._container {
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
}

// ------HEADER--------------

.header {
    height: 121px;
    background: rgba(247, 237, 232, 1);
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 74px;
        width: 1160px;
    }

    &__button_container {
        display: flex;
        width: 344px;
        height: 41px;
        gap: 20px;
    }

    &__button {
        @include button-styles(188px, 41px);
    }

    &__button:hover {
        background-color: black;
        color: white;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }

    &__button--subscribe {
        @include button-styles(136px, 41px);
    }
}

.nav {
    position: absolute;
    left: 197px;
    width: 315px;
    height: 26px;
    top: 28px;

    &__ul {
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        align-items: center;
    }

    &__element_more {
        display: flex;
        align-items: center;

        .more__arrow {
            padding-top: 5px;
            padding-left: 4px;
        }
    }
}

// ----------Page---------

.page {
    height: 100%;
    background-color: rgba(247, 237, 232, 1);
}

// ------MAIN-Block--------

.main-block {
    position: relative;
    height: 1325px;

    &__container {
        position: relative;
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    &__img-one {
        position: absolute;
        top: -51px;
        left: 0;
    }

    &__img-second {
        position: absolute;
        top: 114px;
        right: 59px;
    }

    &__title {
        position: absolute;
        width: 513px;
        top: 41px;
        height: 192px;
        font-size: 96px;
        font-weight: 700;
        line-height: 96px;
        letter-spacing: -0.04em;
        text-align: center;
    }

    & span {
        color: rgba(205, 70, 49, 1);
    }

    &__text {
        position: absolute;
        top: 274px;
        text-align: center;
        line-height: 25.6px;
    }

    &__button {
        position: absolute;
        top: 385px;
        @include button-styles(184px, 65px);
    }

    &__button:hover {
        background-color: black;
        color: white;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
}

.carusel-container {
    display: flex;
    overflow-x: auto;
    position: absolute;
    justify-content: space-around;
    z-index: 50;
    top: 570px;
    width: 100%;
    height: 400px;
    gap: 20px;

    & img:hover {
        box-shadow: 12px 12px 0px 0px rgba(129, 173, 200, 1);
        border-radius: 12px;
    }

    & img {
        flex: 0 0 auto;
        width: 373px;
        height: 373px;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.platform {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 124px;
    top: 1060px;
    gap: 20px;

    &__container {
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 865px;
        height: 84px;
        gap: 20px;
        padding: 0 20px;
    }

    & h3 {
        font-weight: 700;
        font-size: 22.65px;
        letter-spacing: -0.02em;
    }

    & hr {
        width: 100%;
        border-radius: 20px;
        border: 1.5px solid rgba(77, 77, 77, 1);
    }
}

// ------INFO---------------------

.info-block {
    height: 1375px;
    background: rgba(255, 255, 255, 1);

    &__container {
        position: relative;
        height: 100%;
    }

    .info-block__container > img {
        position: absolute;
        top: -74px;
        left: 505px;
    }

    & h1 {
        position: absolute;
        width: 735px;
        height: 142px;
        top: 143px;
        left: 213px;
        text-align: center;
    }

    &__illustration-container-one {
        @include info-container-style(0);
    }

    &__illustration-container-second {
        @include info-container-style(688px);
    }
}

.quote {
    position: relative;
    width: 1160px;
    background: rgba(247, 237, 232, 1);
    height: 366px;
    top: 869px;
    border-radius: 8px 0px 0px 0px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

    &__stars-img {
        position: absolute;
        top: -52px;
        left: 1058px;
    }

    &__vector-img {
        position: absolute;
        top: 197px;
        left: -60px;
    }

    & > p {
        position: absolute;
        top: 40px;
        left: 556px;
        font-size: 95.95px;
        font-weight: 700;
        line-height: 95.95px;
        letter-spacing: -0.02em;
        color: rgba(205, 70, 49, 1);
    }

    & > h2 {
        position: absolute;
        width: 1160px;
        height: 102px;
        top: 139px;
        font-size: 36.65px;
        font-weight: 700;
        line-height: 51.31px;
        letter-spacing: -0.02em;
        text-align: center;
        text-decoration-skip-ink: none;
    }

    &__user-container {
        position: absolute;
        display: flex;
        align-items: center;
        width: 389px;
        height: 48px;
        top: 280px;
        left: 362px;
        gap: 10px;
        opacity: 0px;
    }

    &__user {
        display: flex;
        align-items: center;
        width: 143px;
        height: 48px;
        gap: 10px;
        opacity: 0px;

        & p {
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            text-align: left;
        }

        & img {
            border-radius: 50%;
        }
    }

    &__platform-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 236px;
        height: 22px;

        & > p {
            font-size: 14px;
            font-weight: 700;
            line-height: 22.4px;
            text-align: left;
        }

        & a {
            display: flex;
            align-items: center;
        }
    }
}

// -----testmonials-------------------//

.testimonials {
    position: relative;
    height: 945px;
    background: rgba(237, 243, 247, 1);

    &__container {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img-one {
        position: absolute;
        top: -74px;
    }

    &__img-second {
        position: absolute;
        top: 71px;
        left: 137px;
    }

    &__title {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 689px;
        height: 127px;
        top: 142px;
        gap: 20px;

        & h1 {
            font-size: 59.3px;
            font-weight: 700;
            line-height: 71.16px;
            letter-spacing: -0.02em;
            text-align: center;
        }

        & p {
            font-size: 22.65px;
            font-weight: 500;
            line-height: 36.24px;
            text-align: center;
        }
    }

    &__scroll-container {
        position: absolute;
        display: flex;
        justify-content: space-around;
        overflow-x: auto;
        width: 100%;
        height: 360px;
        top: 367px;
        gap: 20px;

        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari and Opera */
        }
    }

    &__buttons {
        position: absolute;
        display: flex;
        width: 116px;
        height: 28px;
        top: 787px;
        left: 0;
        gap: 20px;

        & button {
            width: 48px;
            height: 38px;

            &:active path {
                stroke: red;
            }
        }
    }
}
