@mixin button-styles($width, $height) {
    width: $width;
    height: $height;
    text-align: center;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 1);
    font-size: 14px;
}

._container {
    max-width: 1160px;
    margin: 0 auto;
    box-sizing: border-box;
}

// ------HEADER--------------

.header {
    height: 121px;
    background: rgba(247, 237, 232, 1);
    display: flex;
    align-items: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 74px;
        width: 1160px;
    }

    &__button_container {
        display: flex;
        width: 344px;
        height: 41px;
        gap: 20px;
    }

    &__button {
        @include button-styles(188px, 41px);
    }

    &__button:hover {
        background-color: black;
        color: white;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }

    &__button--subscribe {
        @include button-styles(136px, 41px);
    }
}

.nav {
    position: absolute;
    left: 197px;
    width: 315px;
    height: 26px;
    top: 28px;

    &__ul {
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        align-items: center;
    }

    &__element_more {
        display: flex;
        align-items: center;

        .more__arrow {
            padding-top: 5px;
            padding-left: 4px;
        }
    }
}

// ----------Page---------

.page {
    height: 100%;
    background-color: rgba(247, 237, 232, 1);
}

// ------MAIN-Block--------

.main-block {
    position: relative;
    height: 1448px;

    &__container {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    &__img-one {
        position: absolute;
        top: -51px;
        left: 0;
    }

    &__img-second {
        position: absolute;
        top: 114px;
        right: 59px;
    }

    &__title {
        position: absolute;
        width: 513px;
        top: 41px;
        height: 192px;
        font-size: 96px;
        font-weight: 700;
        line-height: 96px;
        letter-spacing: -0.04em;
        text-align: center;
    }

    & span {
        color: rgba(205, 70, 49, 1);
    }

    &__text {
        position: absolute;
        top: 274px;
        text-align: center;
        line-height: 25.6px;
    }

    &__button {
        position: absolute;
        top: 385px;
        @include button-styles(184px, 65px);
    }

    &__button:hover {
        background-color: black;
        color: white;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    }
}

.carusel-container {
    display: flex;
    overflow-x: auto;
    position: absolute;
    justify-content: space-between;
    z-index: 50;
    top: 570px;
    width: 100%;
    height: 400px;
    gap: 20px;

    & img:hover {
        box-shadow: 12px 12px 0px 0px rgba(129, 173, 200, 1);
        border-radius: 12px;
    }

    & img {
        flex: 0 0 auto;
        width: 373px;
        height: 373px;
        scroll-snap-align: start;
        box-sizing: border-box;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}
